body {
    font-family: "Source Sans Pro", sans-serif !important;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    padding: 55px;
    background-image: url(../img/bg01.png);
    font-size: 28px;
    color: #474747;
    text-align: center;
}

span {
    white-space: pre-wrap;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    background-color: #2B2B2B;
}

.menu .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 35px 30px 15px 30px;
}

.menu .options ul li {
    display: inline;
    list-style-type: none;
    padding: 0px 25px;
    text-align: center;
}

a,
a:visited {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #C0C0C0;
}

a#home,
a#home:visited {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.menu a span {
    display: none;
}

.menu .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 720px;
}

.menu .container .pointer {
    flex: 0;
    width: 0;
    height: 0;
    border: 8px solid #37C0FB;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.menu .divider {
    width: 100%;
    height: 13px;
    background-image: url(../img/bg01.png);
    background-color: #37C0FB;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: flex-end;
    height: 450px;
    background-image: url(../img/banner.jpg);
    background-position: center center;
    background-size: cover;
}

.img-container .img-overlay {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #1a1a1ab7;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

.img-container .img-overlay button {
    margin-left: 15px;
    padding: 12px 32px;
    border: none;
    border-radius: 5px;
    background-image: url(../img/bg01.png);
    background-color: #36BEF8;
    font-size: 20px;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

.img-container .img-overlay button:hover {
    background-color: #4DC9FF;
    transition: 0.4s;
    cursor: pointer;
}

.img-container .img-overlay a,
.img-container .img-overlay a:visited {
    font-size: 23px;
    text-decoration: none;
    border-bottom: 1px dotted #c0c0c0;
    color: #c0c0c0
}

.img-container .img-overlay a:hover {
    transition: 0.4s;
    color: deepskyblue;
    border-bottom: none;
}

.info-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.info-icons .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    width: 340px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.info-icons .box .border {
    margin: 20px;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    background-color: #fff;
}

.info-icons .box .border .icon {
    border-radius: 50%;
    padding: 22px;
    margin: 7px;
    background-image: url(../img/bg01.png);
    background-color: #32B0E6;
}

.info-icons .box .title {
    margin: 12px;
    font-size: 22px;
    font-weight: 600;
    color: #474747;
}

.info-icons .box .description {
    margin: 12px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #64707a;
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    padding: 90px 0px;
    background-image: radial-gradient(circle, #ffffff42, #e2e2e21c, #c7c7c70e, #ababab0a, #91919110), url(../img/bg01.png);
    text-align: center;
}

.heading-container h1 {
    margin: 10px;
    padding: 30px 90px;
    font-size: 42px;
    font-weight: 600;
    color: #474747;
    border-bottom: 1px solid #dddddd;
}

.heading-container h2 {
    margin: 20px;
    font-size: 27px;
    font-weight: 300;
    color: #9f9faa;
}

.info-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 55px 0px;
    color: #474747;
}

.info-photos .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.info-photos .box .photo img {
    border-radius: 3%;
}

.info-photos .box .photo-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
    width: 390px;
    margin-left: 35px;
}

.info-photos .box .photo-description .title {
    font-weight: 600;
    font-size: 23px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.info-photos .box .photo-description .description {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.button-heading {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 65px;
    background-image: url(../img/bg01.png);
    background-color: #34B6EF;
}

.button-heading .text {
    margin: 20px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #fff;
}

.button-heading button {
    margin-left: 15px;
    padding: 12px 32px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
    color: #474747;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

.button-heading button:hover {
    color: #4DC9FF;
    transition: 0.4s;
    cursor: pointer;
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px;
    background-image: url(../img/bg01.png);
    background-color: #fcfcfc;
}

.contact-container .links {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.contact-container .links h4 {
    font-weight: 600;
    font-size: 23px;
    padding: 20px 25px 30px 13px;
    color: #474747;
}

.contact-container .links ul li {
    font-weight: 300;
    font-size: 18px;
    padding: 13px;
}

.contact-container .links ul li a:link,
.contact-container .links ul li a:visited {
    text-decoration: none;
    border-bottom: 1px dotted #C0C0C0;
    color: #474747
}

.contact-container .links ul li a:hover {
    transition: 0.3s;
    color: deepskyblue;
    border-bottom: none;
}

.contact-container .contact-form {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
}

.contact-container .contact-form h4 {
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 23px;
    color: #474747;
}

.contact-container .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: 300;
}

.contact-container .contact-form form textarea {
    width: 530px;
    height: 160px;
}

.contact-container .contact-form form .contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.contact-container .contact-form form .contact-info input[type=text],
.contact-container .contact-form form .contact-info input[type=email] {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    width: 46%;
    padding: 15px 5px 10px 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.contact-container .contact-form form #msg {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    padding: 15px 5px 10px 10px;
    margin-bottom: 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.contact-container .contact-form button {
    padding: 12px 32px;
    border: none;
    border-radius: 5px;
    background-image: url(../img/bg01.png);
    background-color: #4C4C4C;
    font-size: 20px;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

.contact-container .contact-form button:hover {
    background-color: #535353;
    transition: 0.4s;
    cursor: pointer;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    background-image: url(../img/bg01.png);
    background-color: #fcfcfc;
}

.social-media img {
    margin: 12px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    padding: 10px 0px 150px 0px;
    background-image: url(../img/bg01.png);
    background-color: #fcfcfc;
    font-size: 15px;
    color: #C0C0C0;
}

.footer span {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 300;
    border-right: 1px solid #d4d4d4;
}

.footer span:nth-child(3){
    border: none;
}

.footer a,
.footer a:visited {
    text-decoration: none;
    border-bottom: 1px dotted #C0C0C0;
    font-size: 18px;
    color: #C0C0C0
}

.footer a:hover {
    transition: 0.3s;
    border-bottom: none;
    color: deepskyblue;
    font-size: 18px;
}

@media only screen and (max-width: 1025px) {
    .contact-container .contact-form {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .contact-container .contact-form form {
        align-self: stretch;
        align-items: center;
        justify-content: center;
    }
    .contact-container .contact-form form textarea {
        width: 98%;
    }

    .contact-container .contact-form button {
        width: 100%;
    }
}

@media only screen and (max-width: 840px) {
    .header {
        display: none;
    }

    .menu {
        padding-top: 30px;
    }

    .menu .options {
        display: none;
    }

    .menu a span {
        display: inline;
        font-size: 25px;
    }
    
    .menu .container {
        display: none;
    }

    .menu .divider {
        margin-top: 30px;
    }
}
