body {
    font-family: "Source Sans Pro", sans-serif !important;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    background-image: url(../img/bg01.png);
    padding: 50px;
    font-size: 25px;
    text-align: center;
}

span {
    white-space: pre-wrap;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    padding: 30px;
    background-color: #2B2B2B;
}

.menu .options ul li {
    display: inline;
    list-style-type: none;
    margin: 15px;
    text-align: center;
}

a,
a:visited {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #C0C0C0;
}

a#home,
a#home:visited {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.divider {
    align-self: stretch;
    height: 15px;
    background-color: #37C0FB;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: flex-end;
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-position: center center;
    background-size: cover;
}

.img-container .img-overlay {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    height: 95px;
    background-color: rgba(26, 26, 26, 0.733);
    font-size: 23px;
    text-align: center;
    color: #fff;
}

.img-container .img-overlay h3 {
    margin-right: 20px;
}

.info-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.info-icons .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    width: 340px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.info-icons .box .border {
    margin: 20px;
    border-radius: 50%;
    border: 1px solid rgb(219, 219, 219);
    background-color: #fff;
}

.info-icons .box .border .icon {
    border-radius: 50%;
    padding: 22px;
    margin: 7px;
    background-image: url(../img/bg01.png);
    background-color: #32B0E6;
}

.info-icons .box .title {
    margin: 12px;
    font-size: 22px;
    font-weight: 600;
    color: #474747;
}

.info-icons .box .description {
    margin: 12px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #64707a;
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    padding: 70px;
    background-image: url(../img/bg01.png);
    background-color: #FAFAFA;
    text-align: center;
}

.heading-container h1 {
    margin: 10px;
    padding: 30px 200px;
    font-size: 42px;
    font-weight: 600;
    color: #474747;
    border-bottom: 1px solid #dddddd;
}

.heading-container h2 {
    margin: 20px;
    font-size: 27px;
    font-weight: 300;
    color: #9f9faa;
}